Mainwindow { font-size: 8pt; color: black; background-color: #cccccc; }
QAction { font-size: 8pt;  color: black; background-color: white; } 
QHeaderView::section { font-size: 10pt; color: black; background-color: #dddddd; } 
QLabel { font-size: 8pt; color: black; background-color: white; }
QListView { font-size: 8pt; color: black; background-color: white; }
QListWidget::item { font-size: 8pt; color: black; background-color: white; }
QComboBox { 
        padding: 1px 0px 1px 3px;
        font-size: 8pt; selection-color: black; color: black; background-color: white; }
QMainWindow { font-size: 8pt;  color: black; background-color: white; } 
QWidget { font-size: 8pt;  color: black; background-color: #cccccc; } 
tagWidget { font-size: 8pt;  color: black; background-color: #cccccc; } 
QTabBar::tab { font-size: 8pt;  color: black; background-color: #cccccc; } 
QTabBar::tab::selected { font-size: 8pt;  color: black; background-color: #eeeeee; } 
QMenu::item { font-size: 8pt;  color: black; background-color: white; } 
QMenu::item::selected { font-size: 8pt;  color: black; background-color: white; } 
QMenu::item::disabled { font-size: 8pt;  color: gray; background-color: white; } 
QMenuBar::item { font-size: 8pt;  color: black; background-color: #cccccc; } 
QPushButton { font-size: 8pt; color: black; background-color: #cccccc; }
QStandardItem { font-size: 8pt; color: black; background-color: white; }
QTabWidget { font-size: 14pt; color: black; background-color: white; }
QTableView { font-size: 8pt; color: black; background-color: white; }
QTreeView { font-size: 8pt; color: black; background-color: white; }
Scoretable { font-size: 8pt; color: black; background-color: white; }
QLineEdit { font-size: 8pt; color: black; background-color: white; } 
QScrollBar { font-size: 8pt; color: #444444; background-color: #cccccc; } 
QFileDialog { font-size: 8pt; color: #444444; background-color: #cccccc; } 
QMessageBox { font-size: 8pt; color: #444444; background-color: #cccccc; } 
